#maze {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 3px;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 24px;
}

.wall {
  background: #B42828;
}

.path {
  background: #EDEDED;
}

.player {
  background: #ff4747;
}

.goal {
  background: gold;
}
